.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
}

.nav-items,
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#nav-search {
  border: none;
  border-radius: 40px;
  background-color: black;
  color: white;
  height: 40px;
  width: 10vw;
  padding-left: 20px;
  font-size: 18px;
}

.logo-div {
  background-color: grey;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.8rem;
  margin-left: 5vw;
  font-family: "Manrope", sans-serif;
}

.nav-item {
  margin-right: 5vw;
  cursor: pointer;
}

.nav-item > img {
  margin-left: 10px;
}
.resources-carousel {
  /* border: 2px solid black; */
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resources-carousel > h1 {
  font-size: 5vw;
}

.down-arrow {
  display: flex;
  justify-content: center;
}
.down-arrow > img {
  cursor: pointer;
}
.resources-heading {
  margin-left: 10vw;
  font-size: 2vw;
}

.resources-heading > p {
  font-size: 1.5vw;
}

.all-resources,
.filter-resources,
.filter-search {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.all-resources,
.filter-resources,
.resources-cards {
  /* border: 2px solid black; */
  margin: 3rem;
}

.all-resources {
  width: 90%;
  margin: auto;
}
.resources-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-resources {
  width: 30%;
  flex-direction: column;
  align-items: flex-start;
}
.filter-resources > h1 {
  font-size: 1.4vw;
}
.filter-search {
  background-color: #edfbff;
  border-radius: 50px;
  padding: 15px;
  width: 70%;
  margin: 30px 0px;
  align-items: center;
}
.filter-search > input {
  background-color: #edfbff;
  width: 100%;
  border: none;
  margin: 5px;
  font-size: 25px;
  outline: none;
}

.resources-cards {
  width: 70%;
}

#filter-icon {
  cursor: pointer;
}

.checkbox-group {
  margin-top: 20px;
}

.category-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.category-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border: 4px solid black;
}

.category-container input:checked ~ .checkmark {
  background-color: black;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.category-container input:checked ~ .checkmark:after {
  display: block;
}
